main {
    padding-top: 60px;
}

.contact {
    padding: 50px 20px;
}

.contact-header h2 {
    font-size: 2.5rem;
    color: #03AED2;
    margin-bottom: 30px;
}

.contact-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}

.contact-form label {
    margin-bottom: 10px;
    color: #4F6F52;
    font-weight: bold;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #03AED2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #68D2E8;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #edecea;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}